.body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.bayan {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1rem;
  border-radius: 0.3rem;
  margin: auto;
  text-align: center;
  width: 50%;
  border: 0.2rem solid rgb(235, 243, 248);
  background: #ddd;
}

.bayan_label {
  font-size: 1rem;
  color: blue;
  display: block;
  text-align: left;
  cursor: pointer;
}

.bayan_item {
  border-top: 0.1rem solid gray;
  width: 80%;
  margin: auto;
  padding: 0;
  cursor: pointer;
}

.item_image {
  border: 0;
  height: 0.1rem;
  padding: 0;
  width: 0.1rem;
  background-color: #ddd;
}

.bayan_item input:checked ~ .item_image {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: 1rem;
  overflow: auto;
  animation: fadeIn ease-in 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

img {
  max-width: 80%;
}

.item_header {
  display: flex;
}

.item_title {
  width: 97%;
  padding: 0.5em;
}

.item_icon {
  width: 3%;
  margin-right: 0;
  padding: 0.5em;
  transition: all 0.2s ease;
}

.bayan_item:hover .item_header img {
  transform: rotate(45deg);
}

.bayan_item input:checked ~ .bayan_label .item_header img {
  transform: rotate(45deg);
}

.bayan_item input:hover ~ .item_image {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: 1rem;
  overflow: auto;
  animation: fadeIn ease-in 0.5s;
}

.bayan_item input:checked ~ .bayan_label .item_title {
  color: black;
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .bayan {
    width: 100%;
    margin: 0;
  }
  .item_image img {
    width: auto;
    max-width: 80%;
    max-height: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .bayan {
    width: 100%;
    margin: 0;
  }
  .item_image img {
    width: auto;
    max-width: 80%;
    max-height: 80%;
  }
}

.bayan_title {
  text-align: left;
}

.bayan_item:first-child {
  border-top: none;
}

html {
  overflow-y: scroll;
}
